nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

nav span {
  font-family: 'Bungee', sans-serif;
  margin-left: 1.5em;
}

.navhead {
  font-family: 'Source Sans Pro', sans-serif;
  margin-right: 1.5em;
}

.navTweetBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4056A1;
  border: none;
  color: white;
}

.navTweetBox:hover {
  cursor: pointer;
}

.fa-angles-down {
  color: red;
}

.fa-angles-up {
  color: white;
}

#myBtn {
  position: fixed;
  background-color: red;
  display: none;
  bottom: 20px;
  right: 30px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid red;
}

#myBtn:hover {
  box-shadow: 10px 5px 5px #696969;
  cursor: pointer
}