.tweetCount {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid #696969;
  padding-top: 15px;
}

.tweetSubmit {
  background-color: #4056A1;
  color: white;
  font-family: "Bungee", sans-serif;
  border: none;
}

.tweetSubmit:hover {
  box-shadow: 10px 5px 5px #696969;
}

.tweetSubmit:active {
  background-color: gray;
}

.counter {
  font-family: "Bungee", sans-serif;
}

textarea {
  width: 850px;
  margin-bottom: 15px;
}

.overlimit {
  color: red
}

.errorBox {
  border: 5px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: red;
  margin-bottom: 25px;
}